<div class="container" *ngIf="this.currentPeople">
  <p class="h2">Detalhes Personagens</p>
  <p>Name: {{this.currentPeople.name}}</p>
  <p>Birth Year: {{this.currentPeople.birth_year}}</p>
  <p>Eye Color: {{this.currentPeople.eye_color}}</p>
  <p>Gênero: {{this.currentPeople.gender}}</p>
  <p>Hair Color: {{this.currentPeople.hair_color}}</p>
  <p>Height: {{this.currentPeople.height}}</p>
  <p>Mass: {{this.currentPeople.mass}}</p>
  <p>Skin Color: {{this.currentPeople.skin_color}}</p>
  <p>HomeWorld: {{this.currentPeople.homeworld}}</p>
  <p>Filmes: {{this.currentPeople.films}}</p>
  <p>Url: {{this.currentPeople.url}}</p>
  <p>Created: {{this.currentPeople.created}}</p>
  <p>Edited: {{this.currentPeople.edited}}</p>
</div>